<a href="https://colab.research.google.com/github/Parul30163/python/blob/main/internshala9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Actual Notebook Starts here

In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('/content/NaN_Housing_Prices.csv')

In [3]:
df.head()

,Sale_Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,No of Times Visited,Overall Grade,Area of the House from Basement (in Sqft),Basement Area (in Sqft),...,Waterfront_View_Yes,Zipcode_Group_Zipcode_Group_1,Zipcode_Group_Zipcode_Group_2,Zipcode_Group_Zipcode_Group_3,Zipcode_Group_Zipcode_Group_4,Zipcode_Group_Zipcode_Group_5,Zipcode_Group_Zipcode_Group_6,Zipcode_Group_Zipcode_Group_7,Zipcode_Group_Zipcode_Group_8,Zipcode_Group_Zipcode_Group_9
0,221900.0,3,1.00,1180.0,5650.0,1.0,NaN,7,1180.0,NaN,...,0,0,0,0,0,0,0,0,0,0
1,538000.0,3,2.25,2570.0,7242.0,2.0,NaN,7,2170.0,400.0,...,0,0,1,0,0,0,0,0,0,0
2,180000.0,2,1.00,770.0,10000.0,1.0,NaN,6,770.0,NaN,...,0,0,1,0,0,0,0,0,0,0
3,604000.0,4,3.00,1960.0,5000.0,1.0,NaN,7,1050.0,910.0,...,0,0,0,1,0,0,0,0,0,0
4,510000.0,3,2.00,1680.0,8080.0,1.0,NaN,8,1680.0,NaN,...,0,0,0,0,1,0,0,0,0,0

In [5]:
df.head().shape

(5, 31)

In [6]:
df.isnull().sum()

Sale_Price                                       0
No of Bedrooms                                   0
No of Bathrooms                                  0
Flat Area (in Sqft)                              0
Lot Area (in Sqft)                               0
No of Floors                                     0
No of Times Visited                          19485
Overall Grade                                    0
Area of the House from Basement (in Sqft)        0
Basement Area (in Sqft)                      13123
Age of House (in Years)                          0
Latitude                                         0
Longitude                                        0
Living Area after Renovation (in Sqft)           0
Lot Area after Renovation (in Sqft)              0
Years Since Renovation                       20695
Condition_of_the_House_Excellent                 0
Condition_of_the_House_Fair                      0
Condition_of_the_House_Good                      0
Condition_of_the_House_Okay                      0
Ever_Renovated_Yes                               0
Waterfront_View_Yes                              0
Zipcode_Group_Zipcode_Group_1                    0
Zipcode_Group_Zipcode_Group_2                    0
Zipcode_Group_Zipcode_Group_3                    0
Zipcode_Group_Zipcode_Group_4                    0
Zipcode_Group_Zipcode_Group_5                    0
Zipcode_Group_Zipcode_Group_6                    0
Zipcode_Group_Zipcode_Group_7                    0
Zipcode_Group_Zipcode_Group_8                    0
Zipcode_Group_Zipcode_Group_9                    0
dtype: int64

In [7]:
for i in df.columns:
  tmp =df[i].isnull().sum(  )
  if tmp > 0:
    print(i,tmp)
    df=df.drop(columns=[i])

No of Times Visited 19485
Basement Area (in Sqft) 13123
Years Since Renovation 20695

In [8]:
df=pd.read_csv('/content/Raw_Housing_Prices3.csv')
df.head()

,ID,Date House was Sold,Sale Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,Waterfront View,No of Times Visited,...,Overall Grade,Area of the House from Basement (in Sqft),Basement Area (in Sqft),Age of House (in Years),Renovated Year,Zipcode,Latitude,Longitude,Living Area after Renovation (in Sqft),Lot Area after Renovation (in Sqft)
0,7129300520,14 October 2017,221900.0,3,1.00,1180.0,5650.0,1.0,No,NaN,...,7,1180.0,0,63,0,98178.0,47.5112,-122.257,1340.0,5650
1,6414100192,14 December 2017,538000.0,3,2.25,2570.0,7242.0,2.0,No,NaN,...,7,2170.0,400,67,1991,98125.0,47.7210,-122.319,1690.0,7639
2,5631500400,15 February 2016,180000.0,2,1.00,770.0,10000.0,1.0,No,NaN,...,6,770.0,0,85,0,98028.0,47.7379,-122.233,2720.0,8062
3,2487200875,14 December 2017,604000.0,4,3.00,1960.0,5000.0,1.0,No,NaN,...,7,1050.0,910,53,0,98136.0,47.5208,-122.393,1360.0,5000
4,1954400510,15 February 2016,510000.0,3,2.00,1680.0,8080.0,1.0,No,NaN,...,8,1680.0,0,31,0,98074.0,47.6168,-122.045,1800.0,7503

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21609 entries, 0 to 21608
Data columns (total 21 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   ID                                         21609 non-null  int64
 1   Date House was Sold                        21609 non-null  object
 2   Sale Price                                 21609 non-null  float64
 3   No of Bedrooms                             21609 non-null  int64
 4   No of Bathrooms                            21609 non-null  float64
 5   Flat Area (in Sqft)                        21609 non-null  float64
 6   Lot Area (in Sqft)                         21609 non-null  float64
 7   No of Floors                               21609 non-null  float64
 8   Waterfront View                            21609 non-null  object
 9   No of Times Visited                        2124 non-null   object
 10  Condition of the House                     21609 non-null  object
 11  Overall Grade                              21609 non-null  int64
 12  Area of the House from Basement (in Sqft)  21609 non-null  float64
 13  Basement Area (in Sqft)                    21609 non-null  int64
 14  Age of House (in Years)                    21609 non-null  int64
 15  Renovated Year                             21609 non-null  int64
 16  Zipcode                                    21609 non-null  float64
 17  Latitude                                   21609 non-null  float64
 18  Longitude                                  21609 non-null  float64
 19  Living Area after Renovation (in Sqft)     21609 non-null  float64
 20  Lot Area after Renovation (in Sqft)        21609 non-null  int64
dtypes: float64(10), int64(7), object(4)
memory usage: 3.5+ MB

In [12]:
numerical_data=df.drop(columns=['ID','Date House was Sold','Sale Price','Waterfront View',
                                'No of Times Visited','Condition of the House','Overall Grade',
                                'Zipcode'])
numerical_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21609 entries, 0 to 21608
Data columns (total 13 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   No of Bedrooms                             21609 non-null  int64
 1   No of Bathrooms                            21609 non-null  float64
 2   Flat Area (in Sqft)                        21609 non-null  float64
 3   Lot Area (in Sqft)                         21609 non-null  float64
 4   No of Floors                               21609 non-null  float64
 5   Area of the House from Basement (in Sqft)  21609 non-null  float64
 6   Basement Area (in Sqft)                    21609 non-null  int64
 7   Age of House (in Years)                    21609 non-null  int64
 8   Renovated Year                             21609 non-null  int64
 9   Latitude                                   21609 non-null  float64
 10  Longitude                                  21609 non-null  float64
 11  Living Area after Renovation (in Sqft)     21609 non-null  float64
 12  Lot Area after Renovation (in Sqft)        21609 non-null  int64
dtypes: float64(8), int64(5)
memory usage: 2.1 MB

In [13]:
from sklearn.preprocessing import Normalizer
norm=Normalizer()
norm_data=norm.fit_transform(numerical_data)

norm_data=pd.DataFrame(norm_data,columns=numerical_data.columns)
norm_data.head()

,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,Area of the House from Basement (in Sqft),Basement Area (in Sqft),Age of House (in Years),Renovated Year,Latitude,Longitude,Living Area after Renovation (in Sqft),Lot Area after Renovation (in Sqft)
0,0.000363,0.000121,0.142628,0.682924,0.000121,0.142628,0.000000,0.007615,0.000000,0.005743,-0.014777,0.161968,0.682924
1,0.000264,0.000198,0.226174,0.637335,0.000176,0.190972,0.035202,0.005896,0.175219,0.004200,-0.010765,0.148729,0.672273
2,0.000152,0.000076,0.058440,0.758961,0.000076,0.058440,0.000000,0.006451,0.000000,0.003623,-0.009277,0.206437,0.611874
3,0.000527,0.000395,0.258159,0.658569,0.000132,0.138299,0.119859,0.006981,0.000000,0.006259,-0.016121,0.179131,0.658569
4,0.000263,0.000175,0.147072,0.707346,0.000088,0.147072,0.000000,0.002714,0.000000,0.004169,-0.010684,0.157577,0.656834

In [14]:
tmp= norm_data.var()
tmp

No of Bedrooms                               4.071117e-08
No of Bathrooms                              2.802492e-08
Flat Area (in Sqft)                          1.231500e-02
Lot Area (in Sqft)                           1.351803e-02
No of Floors                                 3.008524e-08
Area of the House from Basement (in Sqft)    1.010140e-02
Basement Area (in Sqft)                      1.648493e-03
Age of House (in Years)                      2.002344e-05
Renovated Year                               1.684740e-03
Latitude                                     1.077875e-05
Longitude                                    7.109191e-05
Living Area after Renovation (in Sqft)       1.079222e-02
Lot Area after Renovation (in Sqft)          1.250016e-02
dtype: float64

In [18]:
T =1e-04

for i in tmp:
  if i <T:
      norm_data.drop(columns =[tmp[tmp ==i].index[0]],inplace =True)

norm_data.var()

Flat Area (in Sqft)                          0.012315
Lot Area (in Sqft)                           0.013518
Area of the House from Basement (in Sqft)    0.010101
Basement Area (in Sqft)                      0.001648
Renovated Year                               0.001685
Living Area after Renovation (in Sqft)       0.010792
Lot Area after Renovation (in Sqft)          0.012500
dtype: float64

In [20]:
#lr.score(x_test ,y_test)

Forward Selection

In [26]:
def adj_r2(data_x,data_y,predictions):
  from sklearn.metrics import r2_score
  R=r2_score(data_y,predictions)
  n=len(data_y)
  m=len(data_x.columns)
  adj_R=1-(1-R)*(n-1)/(n-m-1)
  return adj_R

In [27]:
#adj_r2(x_test,y_test,predictions)

In [28]:
def return_r2(X,Y,model):
  model.fit(X,Y)
  pred =model.predict(X)
  m =len(X.columns)
  r2 =adj_r2(m,Y,pred)
  return r2

In [29]:
def forward_selection(model ,X,Y,max_features):
  f_col=[]
  history =[]

  for i in range(max_features):
    f_col.append('blank')
    tmp=f_col[:]
    Rmax =-1

    for var in X.columns:
      tmp[-1]=var
      r2= return_r2(X[tmp],Y,model)
      if r2 >Rmax:
        Rmax=r2
        f_col[-1]=var
        elim =var

        print("select",f_col[-1],"with new r2",Rmax)
        history.append(Rmax)

    return Rmax ,history ,X[f_col]

In [31]:
'''from sklearn.linear_model import LinearRegression
lr= LinearRegression(normalize=True)

score, history ,sel_data =forward_selection(lr,x_train ,y_train,5)'''

'from sklearn.linear_model import LinearRegression\nlr= LinearRegression(normalize=True)\n\nscore, history ,sel_data =forward_selection(lr,x_train ,y_train,5)'